// IMPORT SECTION
@import '/node_modules/normalize.css/normalize.css'
@import '/node_modules/swiper/swiper-bundle.min.css'

// font-family: 'New Tegomin', serif
// font-family: 'Inconsolata', monospace

//====== COLOR VARIABLES ======================================
$main-color_black: #221D26
$main-color_white: #ffffff
$main-color_turquoise: #6fb6a6
$footer-color_dark-blue: #000fa0

// MIXINS
@mixin transition
   -webkit-transition: all 0.35s ease
   transition: all 0.35s ease

@mixin comics_block
   height: 100vh
   height: calc(var(--vh, 1vh) * 100)
   margin: 0 auto
   display: flex
   justify-content: center
   align-items: center
   position: relative

@mixin center-position
   margin-left: auto
   margin-right: auto

//====== COMMON STYLES =======================================
body
   font-family: 'Inconsolata', monospace
   font-weight: 400
   font-style: normal
   color: $main-color_black

.container
   width: 85%
   @include center-position

.h3_subheading-text
   font-size: calc(18px + 3 * ((100vw - 320px) / (1440 - 320)))
   padding-bottom: 30px
   line-height: 1.5

.subheading_text
   font-size: calc(18px + 5 * ((100vw - 320px) / (1440 - 320)))
   line-height: 1.8
   padding: 50px 0

// ====== HEADERS ============================================= 
p, h2, h3, h4
   padding: 0
   margin: 0

h2, h3
   font-size: calc(25px + 10 * ((100vw - 320px) / (1440 - 320)))
   font-family: 'Inconsolata', monospace

// ====== BUTTONS ============================================= 
.get-more_btn,
.get-more_btn__comics
   font-family: 'Inconsolata', monospace
   font-size: calc(13px + 10 * ((100vw - 320px) / (1440 - 320)))
   position: relative
   width: fit-conten
   cursor: pointer

.get-more_btn__comics
   color: $main-color_black
   text-decoration: underline transparent
   transition: text-decoration 0.35s

   &:hover,
   &:focus
      text-decoration: underline $main-color_turquoise
      color: $main-color_turquoise
      @include transition 

.get-more_btn
   color: $main-color_turquoise
   text-decoration: none

   &:hover,
   &:focus
      color: $main-color_white
      background-color: $main-color_turquoise
      @include transition 

.to-down
   color: $main-color_white
   font-size: calc(20px + 15 * ((100vw - 320px) / (1440 - 320)))
   background-color: transparent
   border: none
   position: absolute
   bottom: 20px
   text-align: center
   cursor: pointer

   &:hover,
   &:focus
      color: $main-color_turquoise
      font-size: calc(35px + 10 * ((100vw - 320px) / (1440 - 320)))
      @include transition

.main-btn
   font-size: calc(15px + 9 * ((100vw - 320px) / (1440 - 320)))
   border: 1px solid $main-color_black
   padding: 20px
   text-decoration: none
   color: $main-color_black
   cursor: pointer

   &:hover,
   &:focus
      background-color: $main-color_turquoise
      border-color: $main-color_turquoise
      color: $main-color_white
      @include transition


